.po_items_ho {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    gap:2rem;
    flex-wrap: wrap;
}

.po_item {
    display:flex;
    flex-direction: column;
    gap:10px;
    width: 48.5%;

    margin: 0.5rem auto;
    padding-bottom: 10px;
    height:530px;
    transition: 0.3s ease;
    font-size: 0;
    border-radius: 18px;

}

.po_item img {
    max-width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.po_item .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:1rem;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
.po_item .content span{
font-weight: 700;

}
.po_item .content {
    opacity: 0;
    transition-delay: 1s;
    transition: 0.3s ease;
    font-size: 20px;
}

.po_item {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item .content {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    border-radius: 18px;
    opacity: 1;
}

.po_item .content {
    opacity: 1;
    color: var(--secondary-color);
}
.po_item .content .techs {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

}
.po_item .content .links{
    display: flex;
    align-items: center;
    padding-top: 15px;
    text-decoration: none;
}
.po_item .content .soon{
    padding-left: 150px;
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.po_item .content .techs .tech{
  background-color:rgb(208, 205, 205) ;
  text-align: center;
  padding: 2px 8px ;
  border-radius: 15px;
  font-weight: 400;
  font-size: 0.9rem;
}
.po_item .content a {
    background: var(--bg-color);
    padding: 4px 8px;
    
    text-align: center;
    font-size: 1rem;
}

.po_item .content  {
    text-decoration: none;
}

@media screen and (max-width: 768px) {

.po_item {
    width:30rem;
}
}